@font-face {
    font-family: "RobotoSlab";   
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("RobotoSlab-Regular"),
    url("../font/RobotoSlab-Regular.woff2") format("woff2"),
    url("../font/RobotoSlab-Regular.woff") format("woff");
    }

@font-face {
    font-family: "Roboto";   
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Roboto-Regular"),
    url("../font/Roboto-Regular.woff2") format("woff2"),
    url("../font/Roboto-Regular.woff") format("woff");
    }